$boxcolor: grey;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    // overflow: hidden;
    
}
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


        
        section{
            width: 400px;
            height: 400px;
            display: flex;
            flex-direction: column;
            background-color: wheat;
            flex-wrap: wrap;
            

            .row{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                .col{
                    width: 50px;
                    height: 50px;
                    border: 1px white solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    .white{
                        width: 40px;
                        height: 40px;
                        background-color: white;
                        border: 8px double black;
                        border-radius: 50%;
                        
                        
                    }
                    .black{
                        width: 40px;
                        height: 40px;
                        background-color: black;
                        border: 8px double orange;
                        border-radius: 50%;
                        

                    }
                    
                }
               &:nth-of-type(odd){
                .col{
                    &:nth-of-type(odd){
                        background-color: $boxcolor;
                    }
                }
               }
               &:nth-of-type(even){
                .col{
                    &:nth-of-type(even){
                        background-color: $boxcolor;
                    }
                }
               }
            }
            
        }
    }